<%= link_to "sample app", root_path, id: "logo" %>
        <nav>
          <ul class="">
            <li><%= link_to "Home",  root_path, color:"red" %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Contact",   contact_path %></li>
            <li><%= link_to "Setting", edit_user_path(current_user)%></li>
            
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to current_user.name, user_path(current_user), class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', login_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', signup_path, class: "nav-link"%>
            </li>
          <% end %>
          </ul>
        </nav>
